<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/manager.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Manager</title>
</head>
<body>
    <div class="banner">
        <img src="image/Banner_Toy.jpg" alt="Toy" class="banner-img">
    </div>
    <header class="header-login">
        <div >
            <a href="/" class="header-link" >Home</a>
        </div>
        <div >
            <a href="/logout" class="header-link" >Logout</a>
        </div>
    </header>
    <div class="title">
        Welcome {{name}}
    </div>
    <div class="Add-Search">
        <div class="Add">
            <button>
                <a href="/add">Add Product</a>
            </button>
        </div>
        <div class="Search">
            <form action="/search" method="POST">
                <input type="text" name="txtName">
               <a href="#"><input type="submit" value="Search"></a>
            </form>
        </div>
    </div>
    <div class="manager">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each model}}
                <tr>
                    <td>{{Name}}</td>
                    <td>{{Category}}</td>
                    <td>{{Price}}</td>
                    <td>
                        <button>
                            <a href="/update?id={{_id}}">Update</a>
                        </button>
                    </td>
                    <td>
                        <button>
                            <a href="/delete?id={{_id}}" onclick="return confirm('Are you sure delete it ?')">Delete</a>
                        </button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>
</html>